{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}
{% block title %}สมัครสมาชิก{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2>สมัครสมาชิก</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">สมัครสมาชิก</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            มีบัญชีอยู่แล้ว? <a class="ml-2" href="{% url 'login' %}">เข้าสู่ระบบที่นี่</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}